<?xml version="1.0"?>
<model>
  <name>RASSOR</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>NASA</name>
    <email>https://nasa3d.arc.nasa.gov</email>
  </author>
  <description>NASA RASSOR regolith mining robot with LED status indicators (from NASA 3D Resources, public domain)</description>
</model>
